@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tilt Neon', cursive;
  font-weight: 400;
}

.container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 30px;
  font-weight: inherit;

  /* Display Center a div element */
  width: 50%;
  margin: auto;
  margin-top: 80px;
}


.heading {
  background-color: red;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 2px;
  /* border-radius: 100px; */
  color: #f5f5f4;


}

.magazine {
  font-style: italic;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  /* background-color: #eee; */
}

.first_name:focus,
.last_name:focus,
.address:focus,
.city:focus,
.state:focus,
.zip:focus {
  outline: none;
}

.first_name,
.last_name,
.address,
.city,
.state,
.zip {
  padding: 0px;
  margin: 20px 0px 20px 0px;
  font-size: 16px;
  /* margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px; */
}

.city {
  margin-right: 80px;
}

label {
  font-size: 20px;
}

.subscribe {
  line-height: 2;
  font-size: 24px;
  font-weight: bold;
}

.info {
  line-height: 1.7;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}